.home-page {
  padding: 0%;
  margin: 0;
}

#detailsurah {
  z-index: 1000000;
}

.urutan-ayat-surah {
  font-size: 25px;
}

.play-surah-dava {
  padding: 0;
  margin: 0;
  border: 0 solid transparent;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}

.pin-surah-dava {
  cursor: pointer;
}

span.more-action {
  background: green;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0;
  margin: 0;
}
span.more-action button.aksi-tambahan-ayat {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  border: 0px solid transparent;
  border-bottom: 1px double grey;
  border-right: 1px dotted grey;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}

.play-audio-template {
  background-color: grey;
  position: fixed;
  bottom: 0%;
  left: 0;
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  color: white;
}
.play-audio-template picture {
  font-style: oblique;
  display: block;
  width: 100vw;
}
.play-audio-template button {
  position: absolute;
  background-color: red;
  color: white;
  right: 0%;
  top: 0;
}
@media (max-width: 768px) {
  .play-audio-template {
    background-color: grey;
    place-content: center;
  }
  .play-audio-template button {
    position: absolute;
    background-color: red;
    color: white;
    right: 0%;
    top: 0%;
    transform: scale(0.9);
  }
}
@media (max-width: 360px) {
  .play-audio-template {
    background-color: grey;
    place-content: center;
    text-align: start;
  }
  .play-audio-template button {
    position: absolute;
    background-color: red;
    color: white;
    right: 0%;
    top: -5%;
    transform: scale(0.7);
  }
}

#daftar-surah-nav {
  position: static;
  overflow-x: auto;
  background-color: grey;
  color: white;
  padding: 0%;
  margin: 0%;
  overflow-y: hidden;
  display: flex;
  width: 100%;
}
#daftar-surah-nav * {
  cursor: pointer;
}
#daftar-surah-nav div.col {
  display: flex;
  align-items: stretch;
  height: 40px;
  margin: 0%;
  padding: 0;
}
#daftar-surah-nav span.ini-urutan {
  display: inline-flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  padding: 0 50px;
  border-left: 2px solid black;
  cursor: pointer;
}

#settingDrag {
  top: 50%;
  left: 0%;
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#settingDrag span {
  font-size: 4em;
  background-color: silver;
  border-radius: 50%;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 576px) {
  #settingDrag span {
    font-size: 45px;
  }
}
@media (min-width: 576px) {
  #settingDrag span {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  #settingDrag span {
    font-size: 55px;
  }
}
@media (min-width: 992px) {
  #settingDrag span {
    font-size: 60px;
  }
}
#settingDrag span:active {
  background: green;
  color: aliceblue;
}
#settingDrag span:nth-child(1):active {
  background-color: red;
  color: white;
}
#settingDrag span.bawah {
  margin-bottom: 0px;
}
#settingDrag span.kiri {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 110%;
}
#settingDrag span.kanan {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 110%;
}
#settingDrag span.muncul-pengaturan {
  margin: 10%;
}

#container-pengaturan {
  z-index: 101;
  position: fixed;
  bottom: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  transition: 0.5s all cubic-bezier(0.895, 0.03, 0.685, 0.22);
  overflow: auto;
  background-color: grey;
}
#container-pengaturan .tombol-header-setting {
  background: grey;
  position: sticky;
  top: 0;
  right: 0;
}
#container-pengaturan .sub-setting {
  cursor: pointer;
}
#container-pengaturan .sub-setting * {
  cursor: pointer;
}
#container-pengaturan .size-font input {
  width: 100px;
}
#container-pengaturan .atur-mode-tampilan {
  height: 100%;
}

.judul-surah {
  background: rgb(13, 110, 253);
  font-size: 16px;
  color: white;
}
.judul-surah .arab-asma {
  font-weight: bold;
  font-style: italic;
}

.color-ayah {
  font-size: 38px;
  color: black;
}
.color-ayah span {
  font-size: 25px;
}
.color-ayah .urutan-ayat-surah {
  background-color: grey;
}

.arti-indonesia {
  color: rgb(13, 110, 253);
  size: 16px;
}

.read-indonesia {
  display: none;
  color: #ff0000;
  justify-content: end;
}

.black-view .view-edit {
  display: inline-grid;
  place-content: center;
  width: 50px;
  height: 55px;
  border-radius: 50%;
}
.black-view .view-edit:nth-child(1) {
  background-image: linear-gradient(to left, red 50%, black 50%);
}
.black-view .view-edit:nth-child(2) {
  background-image: linear-gradient(to left, blue 50%, black 50%);
}
.black-view .view-edit:nth-child(3) {
  background-image: linear-gradient(to left, green 50%, black 50%);
}
.black-view .view-edit:nth-child(4) {
  background-image: linear-gradient(to left, yellow 50%, black 50%);
}
.black-view .view-edit:nth-child(5) {
  background-image: linear-gradient(to left, orange 50%, black 50%);
}
.black-view .view-edit:nth-child(6) {
  background-image: linear-gradient(to left, purple 50%, black 50%);
}
.black-view .view-edit:nth-child(7) {
  background-image: linear-gradient(to left, pink 50%, black 50%);
}
.black-view .view-edit:nth-child(8) {
  background-image: linear-gradient(to left, white 50%, black 50%);
}

.white-view .view-edit {
  display: inline-grid;
  place-content: center;
  width: 50px;
  height: 55px;
  border-radius: 50%;
}
.white-view .view-edit:nth-child(1) {
  background-image: linear-gradient(to left, red 50%, white 50%);
}
.white-view .view-edit:nth-child(2) {
  background-image: linear-gradient(to left, blue 50%, white 50%);
}
.white-view .view-edit:nth-child(3) {
  background-image: linear-gradient(to left, green 50%, white 50%);
}
.white-view .view-edit:nth-child(4) {
  background-image: linear-gradient(to left, yellow 50%, white 50%);
}
.white-view .view-edit:nth-child(5) {
  background-image: linear-gradient(to left, orange 50%, white 50%);
}
.white-view .view-edit:nth-child(6) {
  background-image: linear-gradient(to left, purple 50%, white 50%);
}
.white-view .view-edit:nth-child(7) {
  background-image: linear-gradient(to left, pink 50%, white 50%);
}
.white-view .view-edit:nth-child(8) {
  background-image: linear-gradient(to left, black 50%, white 50%);
}/*# sourceMappingURL=surah.css.map */