body {
    overflow-x: hidden;
}

nav {
    color: white;
    position: fixed;
    z-index: 9999;
    display: flex;
    height: 50px;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    align-items: center;

    .container-nav {
        height: 100%;
        background-color: transparent;
    }
    
    .brand-dava {
        width: 110px;
    }

    .toggler-nav {
        display: flex;
        height: 100%;
        width: calc(100% - 100px);
        align-items: center;
    }
    
    .toggler-nav ul {
        width: 100%;
        align-items: center;

        li {
            margin-right: 5px;
        }
    }

    .toggler-nav ul li  {
        a {
            color: white;
        }

        ul li a {
            color: black;
        }
        
        &:hover {
            border-radius: 5px;
            color : white;
            border: 2px solid white;
        }
    }

    button.dava-button {
        display: none;
        
    }
}


@media (max-width : 992px) {
    nav {
        .container-nav {
            justify-content: space-between;
        }

        .toggler-nav {
            display: none;
            background-color: white;
            flex-direction: column-reverse;
            position: fixed;
            bottom: 0;
            right: 0;
            height: calc(100% - 50px);
            width: 50%;
        }

        .toggler-nav ul.togler-items {
            padding: 5px;
            margin: 0;
            padding-top: 10px;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: start;
            width: 100%;
            height: 100%;
            
            li {
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: dark;
            }

        }

        .toggler-nav ul li a {
            color: black;

            &:hover {
                color : black;
                border: 2px solid black;
            }
        }

    
    
        button.dava-button {
            display: flex;
            
            span {
                color: white;
            }
        }

        .search-surah {
         margin: 50px 0;   
        }
    }
}

@media (max-width : 768px) {
        nav {
        
        .toggler-nav {
            width: 100%;
        }
    }
}



