nav#nav-id {
    position: absolute;
    top: 0;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;
    
    .toggler-nav {
        a {
            color :white;
        }
    }
}